@page
@inject GW2Crafting.Caching.Gw2TokenCache _tokenCache;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Guild Wars 2 Crafting - @ViewData["Title"]</h1>    
</div>
<div class="container-fluid" id="app">
    @if (IndexModel.IsLoggedIn(Request.HttpContext))
    {
        if (string.IsNullOrWhiteSpace(IndexModel.SelectedCharacter(Request.HttpContext, _tokenCache)))
        {
            <div>
               Select Character from top menu
            </div>
        }
        else
        {
            <div>
                Select Collection from top menu
            </div>            
        }
    }
    else
    {
    <form method="post">
        <span class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Access Token:</span>
            <input type="text" class="form-control" placeholder="AccessToken" aria-label="AccessToken" aria-describedby="basic-addon1" id="AccessToken" name="AccessToken">
        </span>
        <div class="row justify-content-end">
          <div class="col-4"></div>
          <div class="col-1"><input class="btn btn-primary" type="submit"/></div>
        </div>            
    </form>        
    }
</div>
