@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ol>
    <li>The normal logging of IP addresses and other information naturally provided by the browser happens and may be persisted to local logs. The handling of this data depends on where this is hosted</li>
    <li>The selections made and the API key provided is cached in memory for 30 minutes and never persisted</li>
    <li>The data retrieved from the Guild Wars 2 APIs is cached in memory for 30 minutes and never persisted</li>
    <li>Cached data can only be retrieved based on a unique Id generated for each session. The unique Id is a random 128-bit number. This Id is saved in the session data which takes the form of a cookie</li>
</ol>
